<!DOCTYPE html>
<html>
    <head>
        <title>{{ title_page }}</title>
        <link rel="icon" href="../../public/img/weather.png" />
        <link href="./css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        
            <img src="./img/robot.png" class="portrait" alt="Robot" />
        </div>

        {{>footer}}
    </body>
</html>